<template name="layout">
    <div class="container">
        <header>
          <nav class="navbar navbar-inverse">
            <ul class="nav navbar-nav">
              <li>
                <a class="brand" href="{{pathFor 'postsList'}}">Redddit</a>
              </li>
              <li>
                <a href="{{pathFor 'postSubmit'}}">Add Post</a>
              </li>
              <li>
                {{> loginButtons align="right"}}
              </li>
            </ul>
          </nav>

        </header>

        <div class="main">
            {{> yield}}
        </div>
    </div>
</template>
