.container {
    max-width: 800px;
    margin: auto;
    padding: 0 15px;
}

.navbar {
    display: flex;
    
    justify-content: space-between;
    align-items: center;

    padding: 20px 10px;

    background: #e3df84;
}
