.post {
  display: flex;

  align-items: center;
}

.post__votes {
  width: 50px;
}

.post__content {
  flex-grow: 1;
}

.post__content .lead {
  margin-bottom: 10px;
}

.m-l-1 {
    margin-left: 10px;
}
